<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem name="Procedimentos" id="menu_root" sequence="110"/>

        <menuitem name="General" id="menu_general" parent="menu_root"/>

        <record model="ir.actions.act_window" id="action_proc">
            <field name="name">proc</field>
            <field name="res_model">procs.proc</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Procedimiento" id="menu_procedimiento" parent="menu_general"
            sequence="1" action="action_proc"/>


        <record model="ir.ui.view" id="procedimiento_form">
            <field name="name">proc form view</field>
            <field name="model">procs.proc</field>
            <field name="arch" type="xml">
                <form string="Procedimiento">
                    <sheet>
                        <group col="2">
                            <field name = "name"/>
                            <field name = "area"/>
                            <field name = "gerencia"/>
                            <field name = "unidad"/>
                            <field name = "depto" string="Departamento"/>
                            <field name = "proceso"/>
                            <field name = "fecha"/>
                            <field name = "pasos"/>
                            <!-- <field name = "pasos" options="{'no_open':True,'no_create':1,'no_create_edit':1}" /> -->
                        </group>
                    </sheet>
                </form>
            </field>
        </record>
        
        <record model ="ir.ui.view" id="procs_tree">
            <field name="name">proc.tree</field>
            <field name="model">procs.proc</field>
            <field name="arch" type="xml">
                <tree string="Procedimientos">
                    <field name="name"/>
                    <field name="gerencia" string="Gerencia"/>
                    <field name="unidad" string="Unidad"/>
                    <field name="depto" string="Departamento"/>
                </tree>
            </field>
        </record>

        <record model ="ir.ui.view" id="pasos_tree">
            <field name="name">paso.tree</field>
            <field name="model">procs.paso</field>
            <field name="arch" type="xml">
                <tree string="Pasos" editable="bottom">
                    <field name="numero" string="Número"/>
                    <field name="responsable"/>
                    <field name="descripcion"/>
                </tree>
            </field>
        </record>

        <record model="ir.ui.view" id="procs_search_view">
            <field name="name">proc.search</field>
            <field name="model">procs.proc</field>
            <field name="arch" type="xml">
                <search>
                    <field name="name"/>
                    <field name="area"/>
                    <group expand="0" string="Group By">
                        <filter string="Nombre" icon="terp-personal"  domain="[]" context="{'group_by':'name'}"/>
                        <filter string="Area" context="{'group_by':'area'}"/>
                        <filter string="Gerencia" context="{'group_by':'gerencia'}"/>
                        <filter string="Unidad" context="{'group_by':'unidad'}"/>
                        <filter string="Departamento" context="{'group_by':'depto'}"/>
                    </group>
                </search>
            </field>
        </record>

   
    </data>
</openerp>
